<div class="row">
  <h2 class="center-align" >STUDENTS LISTING</h2>
</div>

<div class="row">
  <% @students.each do |s| %>
    <div class="col s6 m6">
      <div class="card green darken-3">
        <div class="card-content white-text">
          <span class="card-title">Name: <%= s.name %></span>
          <p class="card-title2">Email: <%= s.email %></p>
          <p>No enrollment status</p>
          <div class="card-action">
            <a href="#">View Enrollment</a>
          </div>
        </div>
    	</div>    
    </div>
  <% end %>
</div>
