<div class="row above">
  <div class="col s6 m6">
    <div class="card green darken-3">
      <div class="card-content white-text">
        <span class="card-title">Name: <%= @student.name %></span>
        <p class="card-title2">Email: <%= @student.email %></p>
        <p>No enrollment status</p>
      </div>
  	</div> 
    <!-- .html_safe is used to implement html code inside ruby -->
    <%= link_to '<i class="material-icons right">edit</i>Edit Your Profile'.html_safe,  edit_student_path(@student), class: "waves-effect waves-light btn" %>   
  </div>
</div>

