<h1 align="center">COURSES LISTING</h1>

<ul>
	<li>Code: 111</li>
	<li>Name: Course A</li>
	<li>Desc: This is sample course</li>
</ul>


<ul>
	<li>Code: 112</li>
	<li>Name: Course B</li>
	<li>Desc: This is sample course</li>
</ul>