@import "materialize";

/*make the footer sticky*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
 }

 main {
    flex: 1 0 auto;
 }

 nav {
 	background-color: #00c853;
 }

.page-footer {
	background-color: #1b5e20;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
	color: #ffeb3b ;
	font-size: 14px;
}
.card .card-action {
	padding: 10px 24px;
}

.card .card-content {
	padding: 16px;
	padding-bottom: 10px;
}

.card .card-content .card-title {
	margin-bottom: 4px;
}

.card .card-title2 {
	font-size: 20px;
	font-weight: 300;
}
.card .card-content p {
	margin-bottom: 8px;
}

.waves-effect input[type="button"], 
.waves-effect input[type="reset"], 
.waves-effect input[type="submit"]{
	color: white;
	font-weight: bold;
	font-size: 16px;
}

.above {
	padding-top: 10px;
}
